<!-- Select Basic -->
<label class="control-label" for="<%= id.replace(/[^-a-zA-Z0-9,&\s]+/ig, '').replace(/-/gi, "_").replace(/\s/gi, "-") %>"><% if(label) {%><%= label %><% } %></label>
<li class="control-group">
  <select id="<%= id.replace(/[^-a-zA-Z0-9,&\s]+/ig, '').replace(/-/gi, "_").replace(/\s/gi, "-") %>" name="<%- id %>" class="input-xlarge <% if(required) {%> required <% } %> can_select">
  	<% _.each(options, function(option) { %>
	  	<% if(typeof(option.split('|')[1]) !== 'undefined') {%>
	  	<option value="<%- option.split('|')[1] %>"><%= option.split('|')[0] %></option>
		<% } else { %>
		<option value="<%- option %>"><%= option %></option>
		<% } %>
	<% }); %>
  </select>
</li>
